# Terraform state files
terraform.tfstate
terraform.tfstate.backup

# Terraform plan files
*.tfplan

# Terraform crash logs
crash.log

# Terraform variable files (if storing sensitive credentials)
*.tfvars
*.tfvars.json

# Terraform lock file
.terraform.lock.hcl

# Ignore Terraform working directory
.terraform/

